/* SIZE OF IMAGES */
/* img {
  width: 250px;
  height: 250px;
} */

/* ALIGNING IMAGES */
/* img {
  margin-left: 200px;
} */

/* img {
  float: right;
} */

/* CENTERING IMAGES */
/* img {
  width: 300px;
  height: 300px;
  display: block;
  margin: auto;
} */

/* BACKGROUND IMAGES */
/* body {
  background-image: url("./images/superbike.jpg");
} */

/* background images */
/* body {
  background-image: url("./images/chote-bike.jpeg");
  background-repeat: repeat-x;
} */

/* body {
  font-size: xx-large;
  background-image: url("./images/superbike.jpg");
  background-attachment: fixed;
} */

/* background position */
/* body {
  background-image: url("./images/chote-bike.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right center;
} */

/* background shorthand */
/* body {
  background: red url("images/chote-bike.jpeg") no-repeat top right;
} */
